<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.OrderCustomMapper">

	<update id="updateItem" parameterType="u">
		UPDATE item
		<trim prefix="SET" prefixOverrides=",">
			<if test="itemName!=null or itemName">
				,itemName=#{itemName}
			</if>
			<if test="price!=null or price">
				,price=#{price}
			</if>
		</trim>
		WHERE id=#{id}
	</update>

</mapper>